@model TobReservationSystem.Models.CoachJourney

@{
    ViewBag.Title = "Review Journey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Review Journey</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(m => m.Destination)
        @Html.EditorFor(m => m.Destination, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DateOfJourney)
        @Html.EditorFor(m => m.DateOfJourney, new { htmlAttributes = new { @readonly = "readonly", @Value = Model.DateOfJourney.ToString("d MMM yyyy"), @class = "form-control" } })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DepartFromCenterId)
        @Html.EditorFor(m => m.DepartFromCenter.Name, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.TotalNumberOfTickets)
        @Html.EditorFor(m => m.TotalNumberOfTickets, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
    </div>
    @Html.HiddenFor(m => m.Id)
    <button type="submit" class="btn btn-primary">Delete</button>
}


